.list{
    width: 500px;
    overflow-y: scroll;
    border: 1px solid #999;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.item{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}