.story{
    width: 720px;
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #ffffff;
    border: 0.5px solid #b9b9b9;
    border-radius: 4px;
    overflow-x: scroll;
    margin: 2rem 0;
    padding: 1rem 0;
}

.button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.image{
    width: 60px;
    border-radius: 32px ;
    padding: 2px;
}

.text{
    font-size: 12px;
}


.outBorder{
    border-radius: 72px;
    height:72px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 
        to left bottom,#7a2eea, #f31673 , 
       #fdcc63);
}

.innerBorder{
    border-radius: 68px;
    height:68px;
    width: 68px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}