:root{
  font-size: 90%;
}

.App {
  text-align: center;
}


main{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding-top: 5vh;
}

footer{
  height: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
