.direct{
    width: 1000px;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

@media(max-width: 1200px){
    .direct{
        width: 720px;
        
    }
    
}

@media(max-width: 960px){
    .direct{
        width: 560px;
        
    }
    
}